body
{
	background:url(https://s2.ax1x.com/2019/07/29/e81mpd.jpg);
	background-attachment:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	min_width: 1000px;
	z-index: -10;
	zoom: 1;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;
}

#back-to-top {
    position: fixed;
    padding: 8px 0;
    transition: 0.4s ease opacity, 0.4s ease width, 0.4s ease transform, 0.4s ease border-radius;
    opacity: 0;
    line-height: 24px;
    outline: none;
    transform: translateY(120px);
}
#back-to-top.fade-in {
    opacity: 1;
}
#back-to-top.rise-up {
    transform: translateY(0);
}
